@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
code, pre {
    font-family: 'Roboto Mono', monospace !important;
    font-size: .9em !important;
}